@page "{id}"
{
  var Id = RouteData.Values["id"];
}
@model WebApiBook.Pages.SelectedBookModel
@{
    ViewData["Title"] = Model.Title;
}


<div class="text-center">
    <p>The Id is @Model.Id</p>
    <h2>@Model.Title</h2>
    <p>@Model.Author</p>
    <p>@Model.Style</p>
    <p>@Model.Publisher</p>
    <p>@Model.PublishYear</p>
</div>
